<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VMF_Copy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <VMF_Copy.Properties.Settings>
            <setting name="OUTPUT_FOLDER" serializeAs="String">
                <value />
            </setting>
            <setting name="VMF_LOCATION" serializeAs="String">
                <value />
            </setting>
            <setting name="SOURCE_FOLDER" serializeAs="String">
                <value />
            </setting>
            <setting name="MainLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>852, 718</value>
            </setting>
            <setting name="C_MODELS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="C_MATERIALS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="C_TEXTURES" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="C_SOUNDS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="C_PARTICLES" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="C_COLOR_CORRECTIONS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="REPLACE" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FILTER" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="C_BSPZIP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="C_EXTRACT_BSPZIP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="C_DELETE_CUBEMAPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="C_EXTRACT_CUBEMAPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="C_COMPRESS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="C_UNCOMPRESS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BSPZIP_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="BSP_PATH" serializeAs="String">
                <value />
            </setting>
            <setting name="C_SW" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="C_DX8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="C_DX9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="C_PHY" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="C_ANI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="C_VVD" serializeAs="String">
                <value>False</value>
            </setting>
        </VMF_Copy.Properties.Settings>
    </userSettings>
</configuration>
